/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';



// -------Global--------
* {
    margin: 0;
    padding: 0;
    font-family: 'copperplate';
    text-align: center;
  }
  .page-body {
    text-align: center;
    margin: 3rem;
    min-height: calc(100vh - 34px);
  }

// ------HEADER-------
header {
    background-color: #c0bdbb;
    display: flex;
    justify-content: space-between;
  }
//   .apartment-logo {
//     width: 150px;
//     margin-left: 20px;
//   }
  .nav-link {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-right: 50px;
  }

// ------HOME-------


// -------INDEX---------
.index-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center; 
    
  }
  
  .card-image {
    width: 300px;
    background-color: #FFFEF1;
    margin: 20px;
     

  }
//   .btn.btn-secondary {
//     background-color: #2b00ff;
//     font-weight: bolder;
//   }
  .btn.btn-secondary:hover {
    color: #0400ff;
    background-color: white;
  }

// ----------SHOW--------
// .card-show.card.card-body {
//     margin: 0 auto;
//   }

//   ------FORMS------
// form {
//     margin-left: 20%;
//     margin-right: 20%;
//   }
//   input {
//     text-align: center;
//   }

// ---------FOOTER------
// footer {
//     font-size: 20px;
//     position: sticky;
//     margin: auto;
//     width: 100%;
//     height: auto;
//     background-color: #FFFEF1;
//     display: flex;
//     justify-content: space-around;
//   }
//   a {
//     color: #FF0080 !important;
//     text-decoration: none !important;
//     margin: auto;
//   }
//   a:hover {
//     cursor: pointer !important;
//     color: #FF0080 !important;
//     text-decoration: underline !important;
//   }


// --------NOT FOUND-------
// .cat-friend {
//     width: 400px;
//     border: 1px solid black;
//     border-radius: 10px;
//   }


// Nav{
//     display: flex;
//     justify-content: space-around;
//   }